<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/queue.css">
    <title>Queue</title>
</head>

<body onload="getQueue()">
    <!-- HEADER -->

    <div class="header">
        <div class="header-logo">
            <a href="index">
                <img class="header-logo_pic" src="/pic/st.jpg" alt="Header logo">
            </a>
        </div>
        <div class="header-title">
            <ul class="header-title-txt">
                <li class="header-title_registratin"><a href="registration"> Registration</a> </li>
                <li class="header-title_login"><a href="login">Login</a></li>
                <li class="header-title_managers"><a href="managers">Managers</a></li>
                <li class="header-title_team"><a href="team">Team</a></li>
                <li class="header-title_profile"><a href="profile"> Profile </a></li>
            </ul>
        </div>
    </div>

    <!-- BODY -->

    <div id="body">
        <!-- <button id="registration-button" onclick="getQueue()">Показать очередь</button> -->
    </div>

    <!-- FOOTER -->

    <div class="footer">

    </div>

    <!-- SCRIPT -->
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="/scripts/queue.js"></script>
</body>

</html>